NEXT_PUBLIC_SUPABASE_URL=https://ibmtcztrttjsngnqmagu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlibXRjenRydHRqc25nbnFtYWd1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyMzU0MjYsImV4cCI6MjA5ODgxMTQyNn0.NsmN78e7cHwFa7lDkuiJ2q8YtZmqqCCAQa3ppt2XOvI
